<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SignHere</title>
    @Styles.Render("~/Content/Style/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
     
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">              
                <a class="navbar-brand" href="~/Dashboard/Index">Sign Here</a>
            </div>
            <ul class="nav navbar-nav navbar-right">               
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Client/Notaries">Notaries</a></li>
                        <li><a href="/Client/Clients">Clients</a></li>
                        <li class="divider"></li>
                        <li><a href="/Reports/Accounting">Accounting Tools</a></li>
                        <li><a href="/Reports/EmailLog">Emails Report</a></li>
                        <li><a href="/Analytics/Index">Analytics</a></li>
                        <li><a href="/Admin/Index">Company Settings</a></li>
                        <li><a href="/Client/ProximitySearch">Proximity Search</a></li>
                        <li class="divider"></li>
                        <li><a href="http://www.google.com">Help</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        My Account
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="/Admin/Account">My Account</a></li>
                        <li class="divider"></li>
                        <li>
                            <a rel="nofollow" data-method="delete" href="/Home/Indexs">Sign out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>








    <!--

    <div class="container" style="border-bottom: solid 1px black;">
        <div class="row">
            <div class="col-md-6">
           
                    <div id="logoImg"></div>
             
            </div>

            <div class="col-md-6">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/orders">Dashboard</a></li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            Admin
                            <strong class="caret"></strong>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/notaries">Notaries</a></li>
                            <li><a href="/clients">Clients</a></li>
                            <li class="divider"></li>
                            <li><a href="/accounting/spreadsheets/new">Accounting Tools</a></li>
                            <li><a href="/emails">Emails Report</a></li>
                            <li><a href="/analytics">Analytics</a></li>
                            <li><a href="/company/settings/edit">Company Settings</a></li>
                            <li><a href="/proximity_search">Proximity Search</a></li>
                            <li class="divider"></li>
                            <li><a href="http://support.snapdocs.com/">Help</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            Christopher  Britton
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="/profile/edit">My Account</a></li>
                            <li class="divider"></li>
                            <li>
                                <a rel="nofollow" data-method="delete" href="/users/sign_out">Sign out</a>
                            </li>
                        </ul>
                    </li>
                </ul>


            </div>

        </div>
    </div>

        -->

    <div class="container body-content">
        @RenderBody()
        <hr /> 
        <footer>
            <p>&copy; @DateTime.Now.Year - SignHere - Powered by Britton Technologies LLC</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
